.profile-page {
  min-height: 100vh;
  background: #0f0f14;
  color: white;
  padding: 30px;
}

.loader {
  color: white;
  padding: 40px;
}

.profile-header {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #151520;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #2a2a40;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #6c63ff;
}

.sub {
  color: #aaa;
  font-size: 14px;
}

.status {
  display: inline-block;
  margin-top: 6px;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.status.active {
  background: #00e676;
  color: black;
}

.info-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.info-card {
  background: #151520;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #24243a;
}

.info-card h4 {
  margin-bottom: 10px;
  color: #6c63ff;
}

.warn {
  color: orange;
}

.section {
  margin-top: 30px;
  background: #151520;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #24243a;
}

.section h3 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: #100101;
  font-weight: 500;
  padding-bottom: 10px;
}

td {
  padding: 10px 0;
  border-bottom: 1px solid #2a2a40;
  color:#66666b;
}

.badge {
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  text-transform: capitalize;
}

.badge.Paid {
  background: #00e676;
  color: black;
}

.badge.Pending {
  background: orange;
  color: black;
}

.badge.Rejected {
  background: red;
  color: white;
}

.badge.Approved {
  background: #00e676;
  color: black;
}
.profile-actions {
  margin: 15px 0;
  display: flex;
  gap: 15px;
}

.edit-btn {
  background: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}